extends layout

block content
    div.container.home_wrapper
        div.container.home_main
              h1= title
              p

              div

                form.activity(method='POST' action='/activity')
                  div.form-group

                    label(for='weight') Weight:
                    input#weight.form-control(type='number', placeholder='example: 180' name='activity_weight')

                  div.form-group
                    label(for= "calIn") Calorie Intake:
                    input#calIn.form-control(type = "number", placeholder = "example: 2000" name='activity_calIn')

                  div.form-group
                    label(for = "calBurn") Calories Burned:
                    input#calBurn.form-control(type = "number", placeholder = "example: 3000" name = 'activity_calBurn')

                  div.form-group
                    label(for = "sleep") Hours Slept:
                    input#sleep(type = "number", placeholder = "example: 8" name = 'activity_sleep')

                  div.form-group
                    label(for = 'type') Workout Type:
                    input#type(type = 'text', placeholder = 'example: running' name = 'activity_type')

                  div.form-group
                    label(for = 'length') Workout Length:
                    input#length(for = type = 'number', placeholder = 'example: 60' name = 'activity_length')

                  button.btn.btn-primary(type='submit') Submit
