extends layout

block content
    div.container.home_wrapper
        div.container.home_main
              h1= title
              p

              div
                form(action = "" method = "POST")
                p Weight
                  input(type = "text" placeholder = "example: 150")

                p Calorie Intake
                  input(type = "text" placeholder = "example: 2000")

                p Calories Burned
                  input(type = "text"  placeholder = "example: 3000")

                p Hours Slept
                  input(type = "text" placeholder = "example: 8")

                button.btn.btn-primary(type='submit') submit
