extends layout

block content
    div.container.home_wrapper
        div.container.home_main
              h1= title
              p

              div
                form(action = "../activity.js" method = "POST")
                p Weight
                  (type = "text" placeholder = "example: 150")

                p Calorie Intake
                  (type = "text" placeholder = "example: 2000")

                p Calories Burned
                  input(type = "text"  placeholder = "example: 3000")

                p Hours Slept
                  input(type = "text" placeholder = "example: 8")

                p Activity type
                  input(type = "text" placeholder = "running")

                button.btn.btn-primary(type='submit') submit
