extends layout

block content

	div.container.home_wrapper
		div.container.home_main

			// contact form
			form.contact_info(method='POST' action='/contact')
				div.form-group
					h1 Questions?  Contact Us Today
				div.form-group
					label(for='email') Email:
					br
					input#email.form-control(type='email', placeholder='name@email.com' name='contact_email')
				div.form-group
					label(for='topic') Topic:
					br
					input#topic.form-control(type='topic', placeholder='For Example: Login Issues, Advertising, Data Entry, Other' name='contact_topic')
				div.form-group
					label(for='message') Message:
					br
					textarea(rows="5", placeholder='Enter message here...', name='contact_message')

				button.btn.btn-primary_invite_friend(type='submit') Submit

		div.container.home_aside_top
			p Meh salvia listicle man bun direct trade. Tacos health goth 8-bit banjo fixie normcore. Brunch brooklyn franzen deep v flannel, kinfolk organic readymade gochujang fanny pack.

		div.container.home_aside_middle
			p Meh salvia listicle man bun direct trade. Tacos health goth 8-bit banjo fixie normcore. Brunch brooklyn franzen deep v flannel, kinfolk organic readymade gochujang fanny pack.
