extends layout

block content
    div.container.home_wrapper
        div.container.home_main
          h1 Contact Page

          div
            form(action = "" method = "POST")
            p Username
              input(type = "text" placeholder ="")

            p Password
              input(type = "text" placeholder ="")

            p Submit
              input(type = "submit"  placeholder ="")
