link(rel='stylesheet', href='/stylesheets/style.css')

div#header
  div#logo
    a(href = 'home')
      img.header(src = '../images/logo.png', alt = 'logo')
  div#icons

    a(href = 'https://www.facebook.com', target='_blank')
      img.icon(src = '../images/facebook.png', alt = "Facebook")
    a(href = 'https://www.instagram.com', target='_blank')
      img.icon(src = "../images/instagram.png" alt = "Instagram")
    a(href = 'https://www.twitter.com', target='_blank')
      img.icon(src = "../images/twitter.png", alt = "Twitter")

nav
  ul
  li
    a(href = '/') LOGIN
  li
    a(href = 'home') HOME
  li
    a(href = 'activity') ACTIVITY
  li
    a(href = 'contact') CONTACT
  li
    a(href = 'logout') LOG OUT
