link(rel='stylesheet', href='/stylesheets/style.css')

div#header
  img.header(src = '../images/facebook.png',  alt = "Facebook")
  img.header(src = "../images/instagram.png" alt = "Instagram")
  img.header(src = "../images/twitter.png", alt = "Twitter")

  img#logo(src = "../images/logo.png")

  nav
    ul
      li
        a(href - 'index.html') home
      li
        a(href - 'login.html') login
      li
        a(href - 'activity.html') activity
      li
        a(href - 'contact.html') contact
      li
        a(href - 'newuser.html') newuser
