link(rel='stylesheet', href='/stylesheets/style_header_footer.css')

div#header
  div#icons
    a(href='https://facebook.com')
        img.header(src = '../images/facebook.png',  alt = "Facebook")
    a(href='https://instagram.com')
        img.header(src = "../images/instagram.png" alt = "Instagram")
    a(href='https://twitter.com')
        img.header(src = "../images/twitter.png", alt = "Twitter")
nav
  ul
  li
    a(href = '/') Login
  li
    a(href = 'home') Home
  li
    a(href = 'activity') Activity
  li
    a(href = 'contact') Contact
  li
    a(href = 'logout') Log Out
