link(rel='stylesheet', href='/stylesheets/style.css')

div
  img(src = '/public/images/facebook.png',  alt = "Facebook")
  img(src = "../images/instagram.png" alt = "Instagram")
  img(src = "../images/twitter.png", alt = "Twitter")

div
  nav
    ul
      li
        a(href - 'index.html') home
      li
        a(href - 'login.html') login
      li
        a(href - 'activity.html') activity
      li
        a(href - 'contact.html') contact
      li
        a(href - 'newuser.html') newuser
