extends layout

block content

	div.container.home_wrapper
		div.container.home_main
			h1 Wecome to Liteweight Fitness Tracker!
			p Cool Pug example!Lorem ipsum dolor amet organic marfa neutra tote bag direct trade cloud bread vexillologist, cronut crucifix venmo. Man bun fanny pack pour-over poke church-key cornhole bicycle rights farm-to-table fashion axe fixie meggings kombucha. Pug taiyaki live-edge flexitarian etsy. Kitsch live-edge street art vexillologist schlitz offal. Synth lyft tofu knausgaard hexagon skateboard.

			p Deep v squid +1 viral craft beer marfa. PBR&B letterpress ethical, jean shorts selvage four dollar toast coloring book pickled hella shabby chic taxidermy hoodie cardigan austin. Swag you probably haven't heard of them deep v copper mug tbh. Letterpress coloring book fingerstache cray quinoa enamel pin. Freegan raclette taxidermy, everyday carry brooklyn roof party kitsch leggings.

			p Echo park cornhole fashion axe, actually mustache chambray live-edge freegan yuccie lumbersexual 90's narwhal pork belly. Cornhole unicorn mumblecore migas freegan VHS selfies fashion axe 3 wolf moon listicle letterpress glossier raw denim direct trade kinfolk. Deep v beard intelligentsia fanny pack lomo pinterest blue bottle bushwick fixie hoodie vegan quinoa celiac subway tile. Meditation microdosing pork belly messenger bag heirloom wayfarers mixtape. Truffaut pug thundercats butcher woke portland selvage meh. Sustainable godard whatever ethical kitsch hammock meggings lumbersexual readymade waistcoat health goth organic cardigan.

		div.container.home_aside_top
			p Prism fashion axe lo-fi meh, austin umami everyday carry godard adaptogen tofu chillwave. Jianbing salvia pok pok, unicorn tbh sriracha try-hard dreamcatcher keffiyeh hammock hella wolf four loko. Twee sriracha chillwave stumptown beard gastropub tofu fixie thundercats pickled photo booth fashion axe put a bird on it.

		div.container.home_aside_middle
			p Meh salvia listicle man bun direct trade. Tacos health goth 8-bit banjo fixie normcore. Brunch brooklyn franzen deep v flannel, kinfolk organic readymade gochujang fanny pack.

		div.container.home_aside_bottom
			p Four dollar toast tbh cloud bread, succulents air plant mustache lumbersexual meh. Kogi mlkshk tofu williamsburg neutra. Salvia bushwick vinyl franzen sartorial beard meditation 8-bit chicharrones blue bottle readymade locavore gentrify biodiesel squid.
