extends layout

block content

    div.container.home_wrapper
        div.container.home_main
            h1 Login Page
            form(action = "/login" method = "POST")
                p Username
                  input(type = "text" placeholder ="" name='username')

                p Password
                  input(type = "text" placeholder ="" name="password")

                p Submit
                  input(type = "submit"  placeholder ="")

                p
                  input(type = "submit"  placeholder ="" value = "Change Password")

            p Want to join?
              a(href = 'newuser')  Click here

            div#login
              img.login(src = '../images/loginBackgroundImage.jpg', alt = 'login page background photo')

