extends layout

block content
  h1= title
  p Welcome to #{title}

    div
      form(method = "POST"  action = "/login" name = "loginForm")
      p Username
        input(type = "text" placeholder ="" name = "input")

      p Password
        input(type = "text" placeholder ="" name = "password")

      p Submit
        input(type = "submit"  placeholder ="")

      
