extends layout

block content
  h1 Finaly you logged in!
  p Welcome to #{title}

    div
      form(action = '/login' method = "POST" name = "loginForm")
      p Username
        input(type = "text" placeholder ="" name = "input")

      p Password
        input(type = "text" placeholder ="" name = "password")

      p Submit
        input(type = "submit"  placeholder ="")

      
