extends layout
block content
  
  
  
    div.container.home_wrapper
        div.container.home_main
          h1 New User's Page
          form(action = "/new" method = "POST")
          p Username
            input(type = "text" placeholder ="Enter Username")
          p Password
            input(type = "password" placeholder ="Enter Password")
          p Confirm password
            input(type = "password" placeholder = "Confirm Password")
          p Submit
            input(type = "submit"  placeholder ="Submit")
          p AlreadyAUser
            a (href= "login") Already a User?