extends layout

block content
  h1= title
  p New User's Page

  
    div
      form(action = "/new" method = "POST")
      p Username
        input(type = "text" placeholder ="Enter Username")

      p Password
        input(type = "password" placeholder ="Enter Password")

      p Confirm password
        input(type = "password" placeholder = "Confirm Password")

      p Submit
        input(type = "submit"  placeholder ="Submit")

      p AlreadyAUser
        a (href= "login") Already a User?
