extends layout

block content

    div.container.home_wrapper
		div.container.home_main
         
        p Old Password
            input(type = "text" placeholder ="")
        p New Password
            input(type = "text" placeholder ="")
        p Change Password
            input(type = "submit"  placeholder ="Change Password")
        
        
