extends layout
block content
  div.container.home_wrapper
    h1 Terms & Conditions
    p These Terms of Use describe the terms and conditions that govern your use of
    the current and future online and mobile websites, platforms, services, applications,
    and networks owned or operated by Liteweight Fitness Tracker, Inc. ("LFT"), including
    without limitation, LFT.com, LFT.com, LFT.com (LFT.com) and LFT.com, and/or
    for which LFT currently or in the future provides services and/or technology (the "Site" or "Sites").
    Please take the time to read the full Terms of Use. You accept and agree to be bound by these Terms
    of Use when you use any of the Sites, without limitation, when you view or access content or videos on any of the Sites.
