body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #00B7FF;*/
}

.container.home_wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.container.home_main {
    width: 60.4%;
    height: 100%;
    margin: 0% 1.06% 2.13% 2.13%;
    background: #C7AC81;
    float: left;
}

.container.home_aside_top {
    width: 31.2%;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
    background: #C7AC81;
}

div#outputField{
    float: right;
}

/*************INVITE FRIEND FORM**********/
.invite_friend {
	margin: 5px 0 15px 15px;
}

.form-group {
	margin-bottom: 15px;
}

input[type=email] {
	width: 80%;
}

textarea {
	width: 80%;
}
/*
.form-control {
	margin: 5px 0 0 5px;
}

.btn-primary_invite_friend {
	margin: 5px 0 0 5px;
} */

/*************CONTACT FORM**********/
.contact {
	margin: 5px 0 15px 15px;
}

.form-group {
	margin-bottom: 15px;
}

input[type=email] {
	width: 80%;
}

input[type=topic] {
	width: 80%;
}

textarea {
	width: 80%;
}
/*
.form-control {
	margin: 5px 0 0 5px;
}

.btn-primary_invite_friend {
	margin: 5px 0 0 5px;
} */

.container.home_aside_middle {
    width: 31.2%;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
}

.container.home_aside_bottom {
    width: 31.2%;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
    background: #C7AC81;
}

/* .invite_friend {
	height: 20px;
	width: 80%;
} */

/*************HEADER**********/

div#header{
	background-color: #fffbe5;
	/*background-image: url("../images/pug_exercise.png");*/
	height: 200px;
	width: 80%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

img.icon {
	margin-top: 3%;
	float: right;
	margin-left: 5%;
}


	/*
	div#logo{
	float:left;
	clear: both;
	width: 40%;
	margin-left: 3%;
}
*/
div#icons{
	float:right;
	width: 15%;
    margin-top: 1%;
    margin-right: 1%;
    
    
}

div#logo{
	float:left;
	width:15%;
    margin-top: 1%;
    
}

img#logo{
	float:right;
	width: 40%;
	margin-right: 1%;
	border: 1px solid #FFF8DC;
	border-radius: 5%;
}
/*
img#logo_shoe{
	margin-top: 1%;
	float:left;
	margin-bottom: 2%;
	width: 50%;
}
*/
/*************NAV BAR**********/
nav {
	height: 30px;
	width: 80%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background: #C7AC81;
}

nav ul{
	font-weight: bold;
	font-size: 1em;
}

nav li {
	width: 20%;
	display: inline-block;
}

nav li a {
	height: 30px;
	line-height: 30px;
	margin-top: auto;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2D1D09;
	background: #C7AC81;
	text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
	background: #2D1D09;
	color: #C7AC81;
	/*border: 1px solid #2D1D09;*/
}

/*Style for dropdown links*/
nav li:hover ul a {
	background: #2D1D09;
	color: #C7AC81;
	height: 40px;
	line-height: 40px;
/*    width: inherit;*/
}

/*Hover state for dropdown links*/
nav li:hover ul a:hover {
	background: #C7AC81;
	color: #2D1D09;
}

/***************FOOTER***************/
footer {
	height: 30px;
	width: 80%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background: #C7AC81;
	/* clear: both; */
	/* border: 2px solid #2D1D09; */
}

footer ul {
	font-weight: bold;
	font-size: 1em;
}

footer li {
	width: 33.33%;
	display: inline-block;
}

footer li a, footer li p {
	height: 30px;
	line-height: 30px;
	margin-top: auto;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2D1D09;
	background: #C7AC81;
}
