body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #00B7FF;*/
}

.container.home_wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 50px auto 20px auto;
    overflow: hidden;
}


}
/*************HEADER**********/
div#header{
	width: 80%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-bottom: 2%;
}
img.header {
    float: left;
    margin-left: 3%;
}

img#logo{
  float:right;
  margin-bottom: 2%;

}

/*************NAV BAR**********/
nav {
    height: 50px;
    clear: both;
    margin-top: 2%;
    /* border: 2px solid #2D1D09; */
}
nav ul{
    border: 2px solid #2D1D09;
    margin-top: 2%;
}
nav li {
  width: 20%;
  display: inline-block;

}
nav li a {
	display:block;

	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2D1D09;
	background: #C7AC81;
	text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
	background: #2D1D09;
    color: #C7AC81;
/*    border: 1px solid #2D1D09;*/
}

/*Style for dropdown links*/
nav li:hover ul a {
	background: #2D1D09;
	color: #C7AC81;
	height: 40px;
	line-height: 40px;
/*    width: inherit;*/
}

/*Hover state for dropdown links*/
nav li:hover ul a:hover {
	background: #C7AC81;
	color: #2D1D09;
}

/***************FOOTER***************/
footer {
	width: 80%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background: #C7AC81;
	height: 50px;
	line-height: 50px;
	clear: both;
	border: 2px solid #2D1D09;
}

footer li {
	float: left;
	width: 33.33%;
	list-style-type: none;
	text-align: center;
  display: inline-block;
}

footer ul {
	display: block;
	font-weight: bold;
	font-size: 1em;
}


.container.home_main {
    width: 62.4%;
    height: 100%;
    margin: 0% 1.06% 2.13% 2.13%;
    background: #C7AC81;
    float: left;
}

.container.home_aside_top {
    width: 31.2%;;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
    background: #C7AC81;
}

.container.home_aside_middle {
    width: 31.2%;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
}

.container.home_aside_bottom {
    width: 31.2%;
    height: 100%;
    margin: 0% 2.13% 2.13% 1.06%;
    float: right;
    background: #C7AC81;
}
